
@import "variables";

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $textColor;
}
#app {
    background-color: #091016;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}

p,
a {
    color: #B6BEC2;
}

p,
a,
li,

ul {
    font-size: 1.4rem;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

input {
    border: none;
    color: $textColor;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

@mixin container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: map-get($container-max-widths, sm)) {
        max-width: map-get($container-max-widths, sm);
    }

    @media (min-width: map-get($container-max-widths, md)) {
        max-width: map-get($container-max-widths, md);
    }

    @media (min-width: map-get($container-max-widths, lg)) {
        max-width: map-get($container-max-widths, lg);
    }

    @media (min-width: map-get($container-max-widths, xl)) {
        max-width: map-get($container-max-widths, xl);
    }
}

.container {
    @include container;
}